<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO1aPadVc3XJzF5JsBQvG4eZ26GtYaojA</string>
	<key>GCM_SENDER_ID</key>
	<string>488991583104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plantapp-10566</string>
	<key>STORAGE_BUCKET</key>
	<string>plantapp-10566.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488991583104:ios:3100c429e96ac8d1582f65</string>
</dict>
</plist>